# DATA PREPARATION/DATA PREPROCESSING

### 3 Step Approach:

**Step 1: Data Cleaning - drop, dropna. Mean, Median, mode Imputation (or) Any Value Imputation for Nan Values.**

**Step 2: Data Type Convertion(Optional)**

**Step 3: Data Transformation**

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [2]:
wheather_data=pd.read_csv('data_clean.csv')

In [3]:
wheather_data

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0             1   41.0    190.0   7.4     67     5    1  2010    67       S
1             2   36.0    118.0   8.0     72     5    2  2010    72       C
2             3   12.0    149.0  12.6     74     5    3  2010    74      PS
3             4   18.0    313.0  11.5     62     5    4  2010    62       S
4             5    NaN      NaN  14.3     56     5    5  2010    56       S
..          ...    ...      ...   ...    ...   ...  ...   ...   ...     ...
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 10 columns]

In [4]:
wheather_data.shape

(158, 10)

In [5]:
wheather_data.tail(20)

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
138         139   46.0    237.0   6.9     78     9   16  2010    78       S
139         140   18.0    224.0  13.8     67     9   17  2010    67      PS
140         141   13.0     27.0  10.3     76     9   18  2010    76       S
141         142   24.0    238.0  10.3     68     9   19  2010    68       C
142         143   16.0    201.0   8.0     82     9   20  2010    82      PS
143         144   13.0    238.0  12.6     64     9   21  2010    64      PS
144         145   23.0     14.0   9.2     71     9   22  2010    71       S
145         146   36.0    139.0  10.3     81     9   23  2010    81       S
146         147    7.0     49.0  10.3     69     9   24  2010    69       C
147         148   14.0     20.0  16.6     63     9   25  2010    63      PS
148         149   30.0    193.0   6.9     70     9   26  2010    70       C
149         150    NaN    145.0  13.2     77     9   27  2010    77      PS
150         151   14.0    191.0  14.3     75     9   28  2010    75       S
151         152   18.0    131.0   8.0     76     9   29  2010    76      PS
152         153   20.0    223.0  11.5     68     9   30  2010    68       S
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

### 2 Transformation Techniques: Discrete Vs Continous

**1. Discrete - Label Encoding/One Hot Encoding**

**2. Continous - MinMax Scaler/Standard Scaler/Robust Scaler**

## How do we choose between Label Encoder and OHE??

### Input feature:
Based on whether it is **Parametric or a Non Parametric Model**, we will choosing between LE or OHE.
* For **Parametric Models** - better to go with **OHE.**
* For **Non-Parametric Models** - always go with **Label Encoding.**

### Output feature:
Always the output feature, it must be **Label Encoder.**